# dependencies
/node_modules

# build output
/.next
/out

# system files
.DS_Store
*.log

# local env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# optional: editor settings
.vscode
.idea

# lock files (optional if using yarn instead of npm)
yarn.lock
